@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
  perspective: 2000px;
}
#box-anim{
  transform: rotateX(10deg);
  width: fit-content;
}

@media (max-width: 575px){
  .prev {
      left: -14.5%;
  }
  .next {
      right: -14.5%;
  }
}
.accordion .card-header {
  background-color: #ff7c09;
}
.accordion p {
  border-bottom: 1px solid #b52819;
}
.arrow-down-icon {width: 20px;}
.accordion button .arrow-down-icon {transform: rotate(180deg);}
.accordion button.collapsed .arrow-down-icon {transform: rotate(0);}
@media (max-width: 667px){
  .media img {width: 15vw;} 
  .accordion button {font-size: 4.6vw;}
  .arrow-down-icon {width: 3vw;}
}